<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
    
    <footer class="footer">
        <div class="containerf">
            <div class="row fot-po">
                <div class="footer-col">
                    <h4 >About</h4>
                    <ul class="text-start">
                        <li class="font"><a>About ECAMsssd</a></li>
                        <li class="font"><a>Contact us</a></li>
                        <li class="font"><a>Invite friends</a></li>
                    </ul>
                </div>    
                <div class="footer-col">
                    <h4>Get help</h4>
                    <ul class="text-start">
                        <li class="font"><a>Help / FAQ</a></li>
                        <li class="font"><a>Accessibility</a></li>
                        <li class="font"><a>Invite friends</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Socail</h4>
                    <ul class="text-start">
                        <li class="font"><a><i class="fa-brands fa-instagram"></i><span>Instagram</span></a></li>
                        <li class="font"><a><i class="fa-brands fa-telegram"></i><span>Telegram</span></a></li>
                        <li class="font"><a><i class="fa-brands fa-facebook"></i><span>Facebook</span></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>LIBRARY DIGITAL BOOKS</h4>
                    <img class="fot-logo" src="image/logo.png" alt="logo"
                    style="width: 100px;">
                </div>
            </div>    
        </div>
    </footer>
</body>
</html>