<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar responsive</title>
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
    <header>
        <a class="logo">
            <img src="image/logo.png" alt="logo"
            style="width: 70px;"
            >
        </a>
        <div class="group">
            <ul class="navigatoin">
                <li style="
                width: 60px;">
                    <a href="#">HOME</a>
                </li>
                <li>
                    <a href="#">MY BOOKS</a>
                </li>
                <li>
                    <a href="#">FAVORITE</a>
                </li>
                <li>
                    <a href="#">BROWSER</a>
                </li>
            </ul>
            <div class="input-group new">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
            </div>
            <div class="login">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div class="d-flex align-items-center mb-4 m-4">
                <div class="flex-shrink-0">
                  <img src="https://scontent.fpnh7-1.fna.fbcdn.net/v/t39.30808-6/302150940_1199933790859538_5126539983231765263_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeG4jf_XMJ6bm1SD4i1YIXbOII7Vwxu_-AMgjtXDG7_4A8gXIBTqueVKuJ5JPszEIEOZkNqqF863WyWlxOu87v6p&_nc_ohc=EGSNpSSkW2UAX_eZ8Ia&_nc_ht=scontent.fpnh7-1.fna&oh=00_AfA9Ortu-bNfIYz9lp5L1Lw3sjBn--zG9tAhOqAVfKGQIw&oe=646D9B94"
                    alt="Generic placeholder image" class="img-fluid rounded-circle border border-white border-3"
                    style="width: 45px;">
                </div>
        </div>
        <div class="iconmenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="dropdown_menu">
            <li>
                <a class="stya" href="#">HOME</a>
            </li>
            <li>
                <a class="stya" href="#">MY BOOKS</a>
            </li>
            <li>
                <a class="stya" href="#">FAVORITE</a>
            </li>
            <li>
                <a class="stya" href="#">BROWSER</a>
            </li>
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-primary">search</button>
            </div>
            
    </div>
    </header>
    <script>
        const iconmenu = document.querySelector('.iconmenu')
        const iconmenuIcon = document.querySelector('.iconmenu i')
        const dropdown_menu = document.querySelector('.dropdown_menu')
        iconmenu.onclick = function(){
            dropdown_menu.classList.toggle('open')
            const isOpen = dropdown_menu.classList.contains('open')

            iconmenuIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars'
        }
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <body>
